:root {
  --template-color-1: #fff;
  --template-color-2: #000000;
  --template-color-3: #999999;
  --template-color-4: #000000;
  --template-color-5: #ffffff;
  --template-color-6:#2c3e50;
  --template-main_color: #08888c;
}

/* Dark Mode Overrides */
[data-bs-theme="dark"] {
  --template-color-1: #fff;
  --template-color-2: #000000;
  --template-color-3: #999999;
  --template-color-4: #000000;
  --template-color-5: #ffffff;
  --template-color-6:#2c3e50;
  --template-main_color: #08888c;
}
body {
  overflow: hidden !important;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: hidden !important;
}
 .scroll-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll-wrapper > * {
  overflow: visible;
}

.clr_one{
  color: var(--template-main_color) !important;
}
.clr_two{
  color: var(--template-color-2);
}
.clr_three{
  color: var(--template-color-3);
}
.clr_four{
  color: var(--template-color-6);
}
.cursor{
  cursor: pointer;
}

/* fonts */

.fs_1{
  font-size: clamp(25px, 4vw, 50px) !important;
}
.fs_2{
  font-size: clamp(12px, 4vw, 14px);
}
.fs_3{
  font-size: clamp(20px, 4vw, 34px);
}
 .fs_4{
  font-size: clamp(20px, 3vw, 25px);

 }
  .fs_5{
  font-size: clamp(13px, 3vw, 16px);

 }
.bg_one{
  background: var(--template-main_color);
}
.section-title {
    font-weight: bold;
    color: #2c3e50;
}
.py-50{
  padding: 50px 0px;
}